<h1>Animal Facts & More</h1>
<h3>by KERRY SLAYMAKER</h3>
<p>
  Welcome to Animal Facts!
</p>

<p>
  Here are some of our newest animal facts:
</p>
<ul class="facts">
  <% @facts.each do |fact| -%>
    <%= render fact %>
  <% end -%>
</ul>