<h1>Animal Facts & More</h1>
<p>
  Welcome to Animal Facts!
</p>

<div class="fact">
  <span class="title">Squid</span>

  <p>
    Squids have 8 arms!  And 9 brains, kinda.
  </p>
</div>

<div class="paragraph">
  <span class="title">Pokemon paragragh</span>

  <p>
    This is a paragraph.  They are more like blog posts.
  </p>
</div>