<h1>Animal Facts & More</h1>
<p>
  Welcome to Animal Facts!
</p>

<p>
  Here are some of our newest animal facts:
</p>
<ul class="facts">
  <% @facts.each do |fact| -%>
  <li class="fact">
    <span class="name"><%= fact.name %></span>
    <p class="description">
      <%= fact.description %>
    </p>
  </li>
    <% end -%>
</ul>

<div class="paragraph">
  <span class="title">Pokemon paragragh</span>

  <p>
    This is a paragraph. They are more like blog posts.
  </p>
</div>