// https://paletton.com/#uid=63l0u0kllllaFw0g0qFqFg0w0aF

$primary_1: #69969C;
$primary_2: #427A82;
$primary_3: #246068;
$primary_4: #0E464E;
$primary_5: #012E34;
$secondary_1: #7986AC;
$secondary_2: #50608F;
$secondary_3: #2F4073;
$secondary_4: #162656;
$secondary_5: #061339;
$tertiary_1: #82C38D;
$tertiary_2: #51A35F;
$tertiary_3: #2B823A;
$tertiary_4: #10621E;
$tertiary_5: #00410B;
$complimentary_1: #FFD3AA;
$complimentary_2: #D49D6A;
$complimentary_3: #AA6F39;
$complimentary_4: #804815;
$complimentary_5: #552900;

