@import 'variables';

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $complimentary_1;
    color: $primary_5;
    font-size: 1em;
    //font-family: 'Courier Prime', monospace;

    div.header {
      border-bottom: 10px solid $tertiary_5;
      background: $secondary_5;
      color: white;
      height: 5em;

      span.title {
        font-weight: bold;
        font-size: 3em;
      }

      div.links {
        font-size: 2em;
        float: right;
        margin-top: 0.5em;
        margin-right: 5em;

        a {
          text-decoration: none;
          font-variant: small-caps;
          color: white;
          text-align: center;
          margin-right: 3em;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

  }
}